.card {
	margin: 10px auto;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 33.3%;
	max-width: 350px;
	height: 250px;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}
.card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.301);
	transform: scale(1.10, 1.10);
}
.card img {
	width: 100%;
	height: 100%;
}
.card .overlay {
	background: #fff;
	color: rgb(83, 16, 4);
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: 100%;
	height: 30%;
}

.card .overlay button {
	position: absolute;
	right: 10px;
	top: -22.5px;
	box-shadow: 0px 0px 8px #555;
	background: rgb(218, 226, 247);
}
.card .overlay button:hover {
	background: #fff !important;
	color: #555555 !important;
}
.card .overlay h5 {
	width: 83%;
	color: #01040c;
	text-align: left;
	font-size: 1.2rem;
}

.card .overlay .info-graph {
	color: #888;
	font-size: .9rem;
}
i.material-icons {
	background: inherit;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	filter: invert(1) grayscale(1);
	-webkit-filter: invert(1) grayscale(1);
}
